.btn-cart{
    background-color: transparent;
}

.btn-cart .badge{
    position: absolute;
    top: 0px;
    right: 1px;
}

.jumbotron-bg{
    
    background-image: url(https://images.unsplash.com/photo-1441986380878-c4248f5b8b5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: center center;
    min-height: 400px;
}

.bg-lighter{
    background-color: rgba(255,255,255,.45);
}

.box-shadow{
    box-shadow: 0 3px 5px rgba(0, 0, 0, .16);
    transition: box-shadow .2s;
}

.box-shadow:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .30);
}

.disabled{
    pointer-events: none;
}

.alert-rounded{
    border-radius: 50px;
}